@import './styles/_base.css';
@import './styles/_buttons.css';

.parent,
.child {
  display: flex;
  flex-direction: column;
  border: 3px #333 dotted;
  margin: 16px;
  padding: 16px;
  background-color: antiquewhite;
}

.child .giftsReceived app-gift .gift,
.parent .giftsToGive app-gift .gift {
  flex-direction: column;
  background-color: blue;
  color: white;
  border: none;
}

.gift {
  display: inline-block;
  padding: 10px;
  border: 1px tomato solid;
  background-color: tomato;
  color: white;
  border-radius: 16px;
  margin: 5px;
  width: 100px;
  text-align: center;
  font-family: 'JetBrains Mono', monospace;
}

/* .giftRefused {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
} */
